@import "tailwindcss";

@theme {
  --color-background : #000720;
  --color-text : #FFFFFF;
  --color-main-accent : #2EAD33;
  --color-secondary-accent : #E2574C;
  --color-background-light : #0C0036;
  --color-background-pop : #4C85FF;
  --color-background-contrast : #00EEFF;

  --text-heading-1 : 32px;
  --text-heading-2 : 24px;
  --text-heading-3 : 20px;
  --text-big-title : 28px;
  --text-small-title : 18px;
  --text-section-title : 16px;
  --text-label : 18px;
  --text-normal-text : 14px;
  --text-small-text : 12px;
}

:root {
  font-family: Tomorrow ,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


